
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jay's stock portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    
    
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; display: flex;">
	  <a target="_blank" class="navbar-brand" href="https://www.facebook.com/profile.php?id=100013478296531">Jay</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">庫存</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/history/">交易紀錄</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="https://github.com/jay1224-jay/my-stock-portfolio-website" target="_blank">程式碼</a>
	      </li>
	      <li class="nav-item active">
	        <div class="nav-link ml-5" style="font-size: 15px;">資料庫是透過本人手動更新</div>
	      </li>
	    </ul>
	  </div>
	  	<div>
	  	綠色： 賠錢 ; （如果）紅色： 賺錢
		</div>
	</nav>

    {% block content %}
    {% endblock %}
</body>
</html>